html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit; margin: 0; padding: 0;
}

body {
	margin: 0 auto;
	font-size: 100%;
	font-family: 'Ubuntu', sans-serif;

}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

//COLORS
@c_blue: #0099ff;
@c_border:#e2e2e2;
@c_gray_text: #666;
@c_gray_back: #f3f3f3;
@c_menu: #C7C7C7;

//MIXINS
.clearfix {
	&:after { content: ''; display: table; clear: both; }
}

.article-format {
	h1 { font-family: 'Droid Serif', serif; }
	p { color:@c_gray_text; }
}

//LESS

.wrapper {
	width: 960px;
	margin: 0 auto;
	max-width: 100%;
	padding: 0 20px;
}

.header-wrap {
	.clearfix;
	border-bottom: 1px solid @c_border;
	padding: .6em 0 .6em;
	.logo {
		padding-top: .2em;
		float: left;
	}
	.toggle {
		display: none;
	}
	.header-nav {
		float: right;
		padding-top: .9em;
		.clearfix;
		li {
			float: left;
			display: inline;
			list-style: none;
			padding: 0.5em 1em;
			a {
				color: @c_blue;
				text-decoration: none;
			}
			&:hover {
				background: @c_blue;
				a {
					color: #fff;
				}
			}
		}
	}	
}

main {
	.intro {
		.clearfix;
		max-width: 100%;
		background: @c_gray_back; 
		border-bottom: 1px solid @c_border;
		.intro-text {
			float: left;
			max-width: 50%;
			margin-top: 2em;
			.article-format;
			h1 {
				letter-spacing: .1em;
				font-size: 2em;
			}
			p {
				line-height: 1.5em;
			}
			.buttons{
				margin: 3em 0;
				.button {
					color: #fff;
					background: @c_blue;
					border-radius: .5em;
					text-decoration: none;
					padding: 0.7em;
					&:last-child {
						margin-left: .8em;
					}
				}
			}
		}
		.intro-img {
			float: right;
			max-width: 50%;
			padding-left: 3em;
			margin-top: 2em;
		}
	}
	.content {
		margin: 2em 0;
		max-width: 100%;
		.row{
			.clearfix;
			.column{
				float: left;
				max-width: 30%;	
				.article-format;
				h1 {
					font-size: 1.6em;
				}
				&:nth-child(1),
				&:nth-child(2) {
					margin-right: 5%;
				}
			}
		}
	}
}

footer {
	background: #333;
	color: #ccc;
	text-align: center;
	.copyright {
		padding-top: 2em;
		padding-bottom: 1em;
	}
	.greeting {
		padding-bottom: 2em;
		margin-bottom: 0;
	}
}




@media only screen and (max-width: 850px) { 
	.header-wrap { text-align: center;
		.logo, .header-nav {
			display: inline-block; 
			float: none;
		}
	}
	.intro {
		.wrapper {
			.intro-text {
				max-width: 100%;
			}
			.buttons {
				margin: 0 auto;
				max-width: 100%; // preco mi to necentruje tie buttons???
				display: block;
			}
			.intro-img {
				float: none;
				max-width: 100%; //preco ak tam width nedam tak mi ho vycentruje, samozrejme v tej sirke max 50% a ked ho tam dam tak mi to nechce vycentrovat????
				padding-left: 0;
				margin: 0 auto; 
			}
		}
	}
}

@media only screen and (max-width: 710px) {
	.header-wrap { 
		padding: 0;
		.wrapper {
			padding: 0;
		}
		.logo {
			float: left;
			margin-left: 1.4em;
		}
		.toggle {  
			display: block;
			border-bottom: 1px solid @c_border;
			font-size: 2em;
			padding: .5em .9em .5em;
			text-align: right;
		}
		.header-nav {
			display: none;
		}
		&.toggled .header-nav { //ZOBRAZENIE TLACITKA (classy)
			display: block;
			background: @c_menu;
			li {
				float: none;
				display: block;
				&:last-child {
					margin-bottom: .5em;
				}
			}
		}
	}
}





@media only screen and (max-width: 620px) { 
	.wrapper{
		padding: 20px 10px;
	}
}




