html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  margin: 0 auto;
  font-size: 100%;
  font-family: 'Ubuntu', sans-serif;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.article-format h1 {
  font-family: 'Droid Serif', serif;
}
.article-format p {
  color: #666666;
}
.wrapper {
  width: 960px;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 20px;
}
.header-wrap {
  border-bottom: 1px solid #e2e2e2;
  padding: .6em 0 .6em;
}
.header-wrap:after {
  content: '';
  display: table;
  clear: both;
}
.header-wrap .logo {
  padding-top: .2em;
  float: left;
}
.header-wrap .toggle {
  display: none;
}
.header-wrap .header-nav {
  float: right;
  padding-top: .9em;
}
.header-wrap .header-nav:after {
  content: '';
  display: table;
  clear: both;
}
.header-wrap .header-nav li {
  float: left;
  display: inline;
  list-style: none;
  padding: 0.5em 1em;
}
.header-wrap .header-nav li a {
  color: #0099ff;
  text-decoration: none;
}
.header-wrap .header-nav li:hover {
  background: #0099ff;
}
.header-wrap .header-nav li:hover a {
  color: #fff;
}
main .intro {
  max-width: 100%;
  background: #f3f3f3;
  border-bottom: 1px solid #e2e2e2;
}
main .intro:after {
  content: '';
  display: table;
  clear: both;
}
main .intro .intro-text {
  float: left;
  max-width: 50%;
  margin-top: 2em;
}
main .intro .intro-text h1 {
  font-family: 'Droid Serif', serif;
}
main .intro .intro-text p {
  color: #666666;
}
main .intro .intro-text h1 {
  letter-spacing: .1em;
  font-size: 2em;
}
main .intro .intro-text p {
  line-height: 1.5em;
}
main .intro .intro-text .buttons {
  margin: 3em 0;
}
main .intro .intro-text .buttons .button {
  color: #fff;
  background: #0099ff;
  border-radius: .5em;
  text-decoration: none;
  padding: 0.7em;
}
main .intro .intro-text .buttons .button:last-child {
  margin-left: .8em;
}
main .intro .intro-img {
  float: right;
  max-width: 50%;
  padding-left: 3em;
  margin-top: 2em;
}
main .content {
  margin: 2em 0;
  max-width: 100%;
}
main .content .row:after {
  content: '';
  display: table;
  clear: both;
}
main .content .row .column {
  float: left;
  max-width: 30%;
}
main .content .row .column h1 {
  font-family: 'Droid Serif', serif;
}
main .content .row .column p {
  color: #666666;
}
main .content .row .column h1 {
  font-size: 1.6em;
}
main .content .row .column:nth-child(1),
main .content .row .column:nth-child(2) {
  margin-right: 5%;
}
footer {
  background: #333;
  color: #ccc;
  text-align: center;
}
footer .copyright {
  padding-top: 2em;
  padding-bottom: 1em;
}
footer .greeting {
  padding-bottom: 2em;
  margin-bottom: 0;
}
@media only screen and (max-width: 850px) {
  .header-wrap {
    text-align: center;
  }
  .header-wrap .logo,
  .header-wrap .header-nav {
    display: inline-block;
    float: none;
  }
  .intro .wrapper .intro-text {
    max-width: 100%;
  }
  .intro .wrapper .buttons {
    margin: 0 auto;
    max-width: 100%;
    display: block;
  }
  .intro .wrapper .intro-img {
    float: none;
    max-width: 100%;
    padding-left: 0;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 710px) {
  .header-wrap {
    padding: 0;
  }
  .header-wrap .wrapper {
    padding: 0;
  }
  .header-wrap .logo {
    float: left;
    margin-left: 1.4em;
  }
  .header-wrap .toggle {
    display: block;
    border-bottom: 1px solid #e2e2e2;
    font-size: 2em;
    padding: .5em .9em .5em;
    text-align: right;
  }
  .header-wrap .header-nav {
    display: none;
  }
  .header-wrap.toggled .header-nav {
    display: block;
    background: #c7c7c7;
  }
  .header-wrap.toggled .header-nav li {
    float: none;
    display: block;
  }
  .header-wrap.toggled .header-nav li:last-child {
    margin-bottom: .5em;
  }
}
@media only screen and (max-width: 620px) {
  .wrapper {
    padding: 20px 10px;
  }
}
